.footer-container {
    width: 100%;
    height: 100px;
    background: linear-gradient(315deg, rgba(204, 168, 253, 1) 0%, rgba(204, 168, 253, 1) 35%, rgba(255, 208, 253, 1) 35%, rgba(255, 208, 253, 1) 55%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
    margin-top: 0;
}

.footer-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.footer-logo-box {
    height: 100%;
    width: 34%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
}

.dti-logo {
    height: 50%;
}

.footer-middle-box {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-box-right {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20%;
}