.footer-container {
  width: 100%;
  height: auto;
  text-align: center;
  background: linear-gradient(315deg, rgba(204, 168, 253, 1) 0%, rgba(204, 168, 253, 1) 35%, rgba(255, 208, 253, 1) 35%, rgba(255, 208, 253, 1) 55%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
  margin-top: 0;
}

.footer-inner {
  height: 100%;
  width: 100%;
  padding-left: 6rem;
  padding-top: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 4rem;
}

.footer-inner-right {
  display: flex;
  flex: 3;
  align-items: start;
  gap: 4rem;
}

.footer-logo-box {
  flex: 2;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  text-align: start;
}

.dti-logo {
  height: 5rem;
}

.footer-middle-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: start;
}

.footer-box-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  text-align: start;
  padding-right: 4rem;
}

.footer-date-stamp {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: #0009;
}
