.hero-container {
    position: relative;
    display: flex;
    height: 70vh;
    margin-top: 150px;
    border-radius: 50px;
    background: rgb(204, 168, 253);
    background: linear-gradient(315deg, rgba(204, 168, 253, 1) 0%, rgba(204, 168, 253, 1) 21%, rgba(255, 208, 253, 1) 21%, rgba(255, 208, 253, 1) 44%, rgba(255, 255, 255, 1) 44%, rgba(255, 255, 255, 1) 100%);
}

.hero-text-container {
    margin-left: 10%;
    width: 90%;
    height: 100%;
    position: absolute;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transform: translate(15%);
}

.hero-image-box {
    border-radius: 0 0 0 100px;
    transform-origin: bottom;
    width: 60%;
    height: 130%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: scaleX(-1) translate(0, -23%);
    overflow: hidden;
}

.hero-image-box::after {
    position: absolute;
    transform-origin: top right;
    content: " ";
    height: 100px;
    width: 400px;
    background-color: #CCA8FD;
    transform: rotate(45deg) scale(5, 5) translate(20%, 81%);
}

.hero-img {
    height: 120%;
    object-fit: cover;
    transform: translate(5%, 13%);
}

