.modal-base-root {
  @media (max-width: 1023px) {
    width: 80% !important;
  }

  @media (max-width: 677px) {
    width: 90% !important;
  }
}

.modal-head {
  font-size: 1.5em;
}

.close-button {
  position: absolute !important;
  top: 0.5em;
  right: 0.5em;
}

.terms-of-service-modal {
  max-width: 30em !important;
}

.text-upload-modal {
  max-width: 40em;
}

.wordcloud-modal {
  width: 84em !important;
}

.graph-modal {
  width: 84em !important;
}
