.hover:hover {
    cursor: pointer;
}

.lang-icon {
    padding-right: 0.5em;
}

.sticking {
    background: transparent !important;
}

.not-sticking {
    background: linear-gradient(315deg, rgba(204, 168, 253, 1) 0%, rgba(204, 168, 253, 1) 9%, rgba(255, 208, 253, 1) 9%, rgba(255, 208, 253, 1) 22%, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0px 0px 5px 0px rgba(156, 39, 176, 0.5) !important;
}

.nav-menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
}

.nav-menu-item::after {
    content: "";
    position: absolute;
    top: 70%;
    left: 0;
    height: 5%;
    width: 100%;
    background-color: #9C27B0 !important;
    transform-origin: right;
    transition: 0.3s ease-in-out;
    scale: 0 1;
}

.nav-menu-item:hover::after {
    scale: 1 1;
}

