.single-linked-resource-list {
  .MuiListItem-root {
    padding-left: 0;
    padding-right: 0;
  }

  .MuiListItemIcon-root {
    min-width: 40px;
  }

  .MuiListItemButton-root {
    padding-left: 0 !important;
  }
}
