.single-link-container {
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.link-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.site-link {
  font-weight: bold;
  font-size: 1.5rem;
  color: #1B1B1B;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
}

.site-link:hover {
  color: #9C27B0;
  text-decoration: none;
}

.site-link:active {
  color: #9C27B0;
  text-decoration: none;
}

.link-tab-chip {
  margin-right: 0.5vw;
  margin-top: 0.5vw;
}
