.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: baseline;
}

.pagination-button-group {
  display: flex;
  gap: 10px;
  box-shadow: none !important;
}

.fontStyle {
  font-size: large;
}

.pagination-textarea {
  width: 100px;
}

.buttongroup {
  width: 25%;
}

.table-pagination-button {
  background-color: #9C27B0 !important;
  font-weight: bold !important;
  border-radius: 15px !important;
}
