.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: baseline;
}

.fontStyle {
  font-size: large;
}

.pagination-textarea {
  width: 100px;
}

.buttongroup {
  width: 25%;
}
