/.idea/
/.gradle/
/.docker/
/.settings/
/.project
/.vscode

gradle/
build/
out/
generated/
dist/
bin/

stanza-server/j*.bin
*.pyc
start-api.sh
node_modules/.yarn-integrity
api/src/main/resources/data/uploadedStudyMaterials.json