<!DOCTYPE html>
<html lang="et_EE" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EVKK</title>
    <link data-react/>
</head>

<body>

<th:block th:replace="common::menu"/>

<main>
    <div class="container">
        <h1 class="display-4 mt-5">Mis on <abbr title="eesti vahekeele korpus">EVKK</abbr></h1>
        <p class="lead">
            Tallinna Ülikooli eesti vahekeele korpus (EVKK) on eesti keele kui riigikeele (teise keele) ja võõrkeele õppijate kirjalike tekstide kogu. EVKK-s on
            rida alamkorpusi, kasutajaliides, mitmetasandiline annoteerimis- ja märgendussüsteem, statistikamoodul, tekstide automaatanalüüsi võimalused jm.
            Kombineerides erinevaid alamkorpusi, tekstilisi tunnuseid, vealiike ja metateavet õppija kohta, võimaldab korpuse kasutajaliides teostada
            mitmetasandilist otsingut. Korpust saab kasutada empiirilises ja rakenduslikku laadi uurimistöös; tulevaste õpetajate ja lingvistide koolitamisel;
            tegevõpetajate täiendõppes jm.
        </p>
    </div>
</main>

<script data-react></script>

</body>

</html>