<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/home}">EVKK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">
                        Mis on EVKK
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employees}">
                        Töötajad
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/resources}">
                        Materjalid
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/links}">
                        Kasulikud lingid
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        Tööriistad
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/tools/str-length">Teksti pikkus</a>
                        <a class="dropdown-item" href="/tools/example">Näidisintegratsioon</a>
                        <a class="dropdown-item" href="/tools/ai-prediction">Masinõppe ennustus</a>
                    </div>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        <span sec:authentication="name"/>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/files">Minu failid</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" sec:authorize="isAnonymous()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">
                        Logi sisse
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>

</html>