<!DOCTYPE html>
<html lang="et_EE" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EVKK</title>
    <link data-react/>
</head>

<body>

<th:block th:replace="common::menu"/>

<main>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="alert alert-info" th:text="${result}"/>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="POST" th:action="@{/tools/str-length}">
                    <div class="form-group">
                        <label for="inputTextId">Sisendtekst</label>
                        <input type="text" name="inputText" class="form-control" id="inputTextId" placeholder="Sisendtekst">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Arvuta</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script data-react></script>

</body>

</html>