div.request-filter {
  padding: 30px;
  margin-bottom: 30px !important;
}

.request-filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.request-filter-item-main {
  flex: 3;
}

.request-filter-item-side {
  flex: 2;
}

.checkbox-container {
  display: flex;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}

.checkbox-container.checkbox-container-error {
  border-color: red;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.checkbox-item {
  display: flex;
  flex-direction: column;
}

.checkbox-item:nth-of-type(1) {
  text-decoration: underline;
}

.checkbox-item:nth-of-type(2) {
  margin-left: 50px;
}

div.optional-filter {
  width: 300px;
  margin: 8px 16px 8px 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.result-table-container {
  margin: 25px 0;
}

.result-table {
  min-width: 650px;
}

.result-table tbody tr th {
  vertical-align: top;
}

.corrected-sentence {
  padding-bottom: 15px;
}

.corrected-sentence:last-of-type {
  padding-bottom: initial;
}

/* .corrected-sentence .added {
  background-color: #ffb1d0;
} */

/* .corrected-sentence .deleted {
  text-decoration: line-through;
  font-weight: bold;
  font-size: smaller;
} */

/* .corrected-sentence .replaced-added {
  background-color: #e9daff;
} */

/* .corrected-sentence .replaced-deleted {
  text-decoration: line-through;
  color: gray;
  font-size: smaller;
} */

.clickable {
  cursor: pointer;
}

.error-tooltip {
  background-color: white;
  color: 'rgba(0, 0, 0, 0.87)';
  box-shadow: aqua;
  font-size: 11px;
}

.annotated:hover {
  /* text-decoration: underline; */
  cursor: default;
}

.corrected-sentence .word-error {
  text-decoration: underline solid red;
}

.corrected-sentence .puntuation {
  /* text-decoration: underline double red; */
  background-color: #ffb1d0;
}

.corrected-sentence .word-separation {
  text-decoration: underline dotted red;
}
.corrected-sentence .word-order {
  background-color: #e9daff;
}
