$font-size-base: 0.85rem;
$font-family-sans-serif: 'Roboto', sans-serif;
$line-height-base: 1;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}