<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <!-- TODO: Separate more fragments from this (a lot of duplication) -->
  <!-- Dropdown for word type selection -->
  <div class="form-group" style="display: none">
    <label for="wordtypeDropdown">Valige Sõnaliik</label>
    <select class="form-control" id="wordtypeDropdown">
      <option value="All">Kõik</option>
      <option th:each="wordtype: ${T(ee.tlu.evkk.clusterfinder.constants.WordType).values()}"
              th:value="${wordtype.value}" th:text="${wordtype.labelEst}"></option>
    </select>
  </div>

  <!-- Noun additional options -->
  <div class="additionals-container" data-group="S">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounSubTypeGeneral" name="NOUN-subtype[]" value="com" />
      <label class="form-check-label" for="nounSubTypeGeneral">Üldnimeline</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounSubTypeReal" name="NOUN-subtype[]" value="prop" />
      <label class="form-check-label" for="nounSubTypeReal">Pärisnimeline</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounPluralTypeSingle" name="NOUN-pluraltype[]" value="sg" />
      <label class="form-check-label" for="nounPluralTypeSingle">Ainsus</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounPluralTypeMultiple" name="NOUN-pluraltype[]" value="pl" />
      <label class="form-check-label" for="nounPluralTypeMultiple">Mitmus</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeNom" name="NOUN-casetype[]" value="nom" />
      <label calss="form-check-label" for="nounCaseTypeNom">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeGen" name="NOUN-casetype[]" value="gen" />
      <label class="form-check-label" for="nounCaseTypeGen">Omastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypePart" name="NOUN-casetype[]" value="part" />
      <label class="form-check-label" for="nounCaseTypePart">Osastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeAdit" name="NOUN-casetype[]" value="adit" />
      <label class="form-check-label" for="nounCaseTypeAdit">Lühike sisseütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeIll" name="NOUN-casetype[]" value="ill" />
      <label class="form-check-label" for="nounCaseTypeIll">Sisseütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeIn" name="NOUN-casetype[]" value="in" />
      <label class="form-check-label" for="nounCaseTypeIn">Seesütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeEl" name="NOUN-casetype[]" value="el" />
      <label class="form-check-label" for="nounCaseTypeEl">Seestütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeAll" name="NOUN-casetype[]" value="all" />
      <label class="form-check-label" for="nounCaseTypeAll">Alaleütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeAd" name="NOUN-casetype[]" value="ad" />
      <label class="form-check-label" for="nounCaseTypeAd">Alalütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeAbl" name="NOUN-casetype[]" value="abl" />
      <label class="form-check-label" for="nounCaseTypeAbl">Saav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeTr" name="NOUN-casetype[]" value="tr" />
      <label class="form-check-label" for="nounCaseTypeTr">Rajav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeTerm" name="NOUN-casetype[]" value="term" />
      <label class="form-check-label" for="nounCaseTypeTerm">Olev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeEss" name="NOUN-casetype[]" value="ess" />
      <label class="form-check-label" for="nounCaseTypeEss">Ilmaütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="nounCaseTypeAbes" name="NOUN-casetype[]" value="abes" />
      <label class="form-check-label" for="nounCaseTypeAbes">Kaasaütlev</label>
    </div>
  </div>

  <div class="additionals-container" data-group="A">
    <!-- Subtype -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveSubTypeA" name="ADJECTIVE-subtype[]" value="A" />
      <label class="form-check-label" for="adjectiveSubTypeA">Käänduv</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveSubTypeG" name="ADJECTIVE-subtype[]" value="G" />
      <label class="form-check-label" for="adjectiveSubTypeG">Käändumatu</label>
    </div>

    <!-- Step type -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveStepTypePos" name="ADJECTIVE-stepType[]" value="pos" />
      <label class="form-check-label" for="adjectiveStepTypePos">Algvõrre</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveStepTypeComp" name="ADJECTIVE-stepType[]" value="comp" />
      <label class="form-check-label" for="adjectiveStepTypePos">Keskvõrre</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveStepTypeSuper" name="ADJECTIVE-stepType[]" value="super" />
      <label class="form-check-label" for="adjectiveStepTypeSuper">Ülivõrre</label>
    </div>

    <!-- Plural type -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectivePluralTypeSingle" name="ADJECTIVE-pluraltype[]" value="sg" />
      <label class="form-check-label" for="adjectivePluralTypeSingle">Ainsus</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectivePluaralTypeMultiple" name="ADJECTIVE-pluraltype[]" value="pl" />
      <label class="form-check-label" for="adjectivePluaralTypeMultiple">Mitmus</label>
    </div>

    <!-- Case type -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeNom" name="ADJECTIVE-casetype[]" value="nom" />
      <label class="form-check-label" for="nounCaseTypeNom">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id=adjectiveCaseTypeGen" name="ADJECTIVE-casetype[]" value="gen" />
      <label class="form-check-label" for=adjectiveCaseTypeGen">Omastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypePart" name="ADJECTIVE-casetype[]" value="part" />
      <label class="form-check-label" for="adjectiveCaseTypePart">Osastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeAdit" name="ADJECTIVE-casetype[]" value="adit" />
      <label class="form-check-label" for="adjectiveCaseTypeAdit">Lühike sisseütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeIll" name="ADJECTIVE-casetype[]" value="ill" />
      <label class="form-check-label" for="adjectiveCaseTypeIll">Sisseütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeIn" name="ADJECTIVE-casetype[]" value="in" />
      <label class="form-check-label" for="adjectiveCaseTypeIn">Seesütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeEl" name="ADJECTIVE-casetype[]" value="el" />
      <label class="form-check-label" for="adjectiveCaseTypeEl">Seestütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeAll" name="ADJECTIVE-casetype[]" value="all" />
      <label class="form-check-label" for="adjectiveCaseTypeAll">Alaleütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeAd" name="ADJECTIVE-casetype[]" value="ad" />
      <label class="form-check-label" for="adjectiveCaseTypeAd">Alalütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeAbl" name="ADJECTIVE-casetype[]" value="abl" />
      <label class="form-check-label" for="adjectiveCaseTypeAbl">Saav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeTr" name="ADJECTIVE-casetype[]" value="tr" />
      <label class="form-check-label" for="adjectiveCaseTypeTr">Rajav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeTerm" name="ADJECTIVE-casetype[]" value="term" />
      <label class="form-check-label" for="adjectiveCaseTypeTerm">Olev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeEss" name="ADJECTIVE-casetype[]" value="ess" />
      <label class="form-check-label" for="adjectiveCaseTypeEss">Ilmaütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adjectiveCaseTypeAbes" name="ADJECTIVE-casetype[]" value="abes" />
      <label class="form-check-label" for="adjectiveCaseTypeAbes">Kaasaütlev</label>
    </div>
  </div>

  <div class="additionals-container" data-group="P">
    <!-- Subtype -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounSubTypePers" name="PRONOUN-subtype[]" value="pers" />
      <label class="form-check-label" for="pronounSubTypePers">Isikuline</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounSubTypeRefl" name="PRONOUN-subtype[]" value="refl" />
      <label class="form-check-label" for="pronounSubTypeRefl">Isikuline</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounSubTypeRec" name="PRONOUN-subtype[]" value="rec" />
      <label class="form-check-label" for="pronounSubTypeRec">Isikuline</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounSubTypePos" name="PRONOUN-subtype[]" value="pos" />
      <label class="form-check-label" for="pronounSubTypePos">Isikuline</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounSubTypeDem" name="PRONOUN-subtype[]" value="dem" />
      <label class="form-check-label" for="pronounSubTypeDem">Isikuline</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounSubTypeInterRel" name="PRONOUN-subtype[]" value="inter rel" />
      <label class="form-check-label" for="pronounSubTypeInterRel">Isikuline</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounSubTypeDet" name="PRONOUN-subtype[]" value="det" />
      <label class="form-check-label" for="pronounSubTypeDet">Isikuline</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounSubTypeIndef" name="PRONOUN-subtype[]" value="indef" />
      <label class="form-check-label" for="pronounSubTypeIndef">Isikuline</label>
    </div>

    <!-- Plural type -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounPluralTypeSingle" name="PRONOUN-pluraltype[]" value="sg" />
      <label class="form-check-label" for="pronounPluralTypeSingle">Ainsus</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounPluaralTypeMultiple" name="PRONOUN-pluraltype[]" value="pl" />
      <label class="form-check-label" for="pronounPluaralTypeMultiple">Mitmus</label>
    </div>

    <!-- Case type -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeNom" name="PRONOUN-casetype[]" value="nom" />
      <label class="form-check-label" for="pronounCaseTypeNom">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id=pronounCaseTypeGen" name="PRONOUN-casetype[]" value="gen" />
      <label class="form-check-label" for=pronounCaseTypeGen">Omastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypePart" name="PRONOUN-casetype[]" value="part" />
      <label class="form-check-label" for="pronounCaseTypePart">Osastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeAdit" name="PRONOUN-casetype[]" value="adit" />
      <label class="form-check-label" for="pronounCaseTypeAdit">Lühike sisseütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeIll" name="PRONOUN-casetype[]" value="ill" />
      <label class="form-check-label" for="pronounCaseTypeIll">Sisseütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeIn" name="PRONOUN-casetype[]" value="in" />
      <label class="form-check-label" for="pronounCaseTypeIn">Seesütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeEl" name="PRONOUN-casetype[]" value="el" />
      <label class="form-check-label" for="pronounCaseTypeEl">Seestütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeAll" name="PRONOUN-casetype[]" value="all" />
      <label class="form-check-label" for="pronounCaseTypeAll">Alaleütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeAd" name="PRONOUN-casetype[]" value="ad" />
      <label class="form-check-label" for="pronounCaseTypeAd">Alalütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeAbl" name="PRONOUN-casetype[]" value="abl" />
      <label class="form-check-label" for="pronounCaseTypeAbl">Saav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeTr" name="PRONOUN-casetype[]" value="tr" />
      <label class="form-check-label" for="pronounCaseTypeTr">Rajav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeTerm" name="PRONOUN-casetype[]" value="term" />
      <label class="form-check-label" for="pronounCaseTypeTerm">Olev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeEss" name="PRONOUN-casetype[]" value="ess" />
      <label class="form-check-label" for="pronounCaseTypeEss">Ilmaütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounCaseTypeAbes" name="PRONOUN-casetype[]" value="abes" />
      <label class="form-check-label" for="pronounCaseTypeAbes">Kaasaütlev</label>
    </div>

    <!-- Perspective type -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounPerspectiveTypePs1" name="PRONOUN-persepctivetype[]" value="ps1" />
      <label class="form-check-label" for="pronounPerspectiveTypePs1">Esimene</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounPerspectiveTypePs2" name="PRONOUN-persepctivetype[]" value="ps2" />
      <label class="form-check-label" for="pronounPerspectiveTypePs2">Teine</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="pronounPerspectiveTypePs3" name="PRONOUN-persepctivetype[]" value="ps3" />
      <label class="form-check-label" for="pronounPerspectiveTypePs3">Kolmas</label>
    </div>
  </div>

  <div class="additionals-container" data-group="N">
    <!-- Subtype -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeCard" name="NUMERAL-subtype[]" value="card" />
      <label class="form-check-label" for="numeralCaseTypeCard">Põhiarvsõna</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeOrd" name="NUMERAL-subtype[]" value="ord" />
      <label class="form-check-label" for="numeralCaseTypeOrd">Põhiarvsõna</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeDigit" name="NUMERAL-subtype[]" value="digit" />
      <label class="form-check-label" for="numeralCaseTypeDigit">Põhiarvsõna</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeRoman" name="NUMERAL-subtype[]" value="roman" />
      <label class="form-check-label" for="numeralCaseTypeRoman">Põhiarvsõna</label>
    </div>

    <!-- Plural type -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralPluralTypeSingle" name="NUMERAL-pluraltype[]" value="sg" />
      <label class="form-check-label" for="numeralPluralTypeSingle">Ainsus</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralPluaralTypeMultiple" name="NUMERAL-pluraltype[]" value="pl" />
      <label class="form-check-label" for="numeralPluaralTypeMultiple">Mitmus</label>
    </div>

    <!-- Case type -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeNom" name="NUMERAL-casetype[]" value="nom" />
      <label class="form-check-label" for="numeralCaseTypeNom">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id=numeralCaseTypeGen" name="NUMERAL-casetype[]" value="gen" />
      <label class="form-check-label" for=numeralCaseTypeGen">Omastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypePart" name="NUMERAL-casetype[]" value="part" />
      <label class="form-check-label" for="numeralCaseTypePart">Osastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeAdit" name="NUMERAL-casetype[]" value="adit" />
      <label class="form-check-label" for="numeralCaseTypeAdit">Lühike sisseütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeIll" name="NUMERAL-casetype[]" value="ill" />
      <label class="form-check-label" for="numeralCaseTypeIll">Sisseütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeIn" name="NUMERAL-casetype[]" value="in" />
      <label class="form-check-label" for="numeralCaseTypeIn">Seesütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeEl" name="NUMERAL-casetype[]" value="el" />
      <label class="form-check-label" for="numeralCaseTypeEl">Seestütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeAll" name="NUMERAL-casetype[]" value="all" />
      <label class="form-check-label" for="numeralCaseTypeAll">Alaleütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeAd" name="NUMERAL-casetype[]" value="ad" />
      <label class="form-check-label" for="numeralCaseTypeAd">Alalütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeAbl" name="NUMERAL-casetype[]" value="abl" />
      <label class="form-check-label" for="numeralCaseTypeAbl">Saav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeTr" name="NUMERAL-casetype[]" value="tr" />
      <label class="form-check-label" for="numeralCaseTypeTr">Rajav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeTerm" name="NUMERAL-casetype[]" value="term" />
      <label class="form-check-label" for="numeralCaseTypeTerm">Olev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeEss" name="NUMERAL-casetype[]" value="ess" />
      <label class="form-check-label" for="numeralCaseTypeEss">Ilmaütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="numeralCaseTypeAbes" name="NUMERAL-casetype[]" value="abes" />
      <label class="form-check-label" for="numeralCaseTypeAbes">Kaasaütlev</label>
    </div>
  </div>

  <div class="additionals-container" data-group="J">
    <!-- Subtype -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="conjunctionSubTypeCoord" name="CONJUNCTION-subtype[]" value="coord" />
      <label class="form-check-label" for="conjunctionSubTypeCoord">Rinnastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="conjunctionSubTypeSub" name="CONJUNCTION-subtype[]" value="sub" />
      <label class="form-check-label" for="conjunctionSubTypeSub">Alistav</label>
    </div>
  </div>

  <div class="additionals-container" data-group="K">
    <!-- Subtype -->
    <div class="form-check">

    </div>
    <div class="form-check">

    </div>

    <!-- Case type -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adpositionCaseTypeNom" name="ADPOSITION-casetype[]" value="nom" />
      <label class="form-check-label" for="adpositionCaseTypeNom">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adpositionCaseTypeGen" name="ADPOSITION-casetype[]" value="gen" />
      <label class="form-check-label" for="adpositionCaseTypeGen">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adpositionCaseTypePart" name="ADPOSITION-casetype[]" value="part" />
      <label class="form-check-label" for="adpositionCaseTypePart">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adpositionCaseTypeAll" name="ADPOSITION-casetype[]" value="all" />
      <label class="form-check-label" for="adpositionCaseTypeAll">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adpositionCaseTypeTerm" name="ADPOSITION-casetype[]" value="term" />
      <label class="form-check-label" for="adpositionCaseTypeTerm">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adpositionCaseTypeAbes" name="ADPOSITION-casetype[]" value="abes" />
      <label class="form-check-label" for="adpositionCaseTypeAbes">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="adpositionCaseTypeKom" name="ADPOSITION-casetype[]" value="kom" />
      <label class="form-check-label" for="adpositionCaseTypeKom">Nimetav</label>
    </div>
  </div>
</body>
</html>
