.filterDiv {
  position: fixed;
  width: 180px;
  left: 20%;
  top: 100px;
  z-index: 1;
  background-color: white;
}

.tableRow {
  background-color: white;
}

.tableRow:nth-child(even) {
  background-color: #EBECF0;
}

.tableHead {
  padding-left: 10px;
}

.tableHead:hover {
  cursor: auto;
}

.tableHead:nth-child(2) > .sortIcon {
  display: none;
}

.tableHead:nth-child(3) > .sortIcon {
  display: none;
}
