tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover{
    background-color: #ddd;
}

.fontStyle{
    font-size: large;
}

th.hover:nth-child(1):hover{
    cursor: auto;
}

th.hover:nth-child(2):hover{
    cursor: auto;
}

th.hover:nth-child(3):hover{
    cursor: pointer !important;
}

th:nth-child(1)>.sort{
    display: none;
}

th:nth-child(2)>.sort{
    display: none;
}

.pagination{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.buttongroup{
    width: 40%;
}