table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}


.filter {
    position: fixed;
    top: 90px;
    left:100px;
    width: 260px;
    height: 10px;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-div {
    position: relative;
    width: 100%;
    background-color: #ddd;
}

.inner-div .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #ddd;
    border-color: #ddd;
}