.level-tab-short-text-notice {
  font-size: 1.5rem;
  margin: auto auto;
}

.level-accordion-overall-value-container {
  background: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.level-accordion-overall-value-label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.levels-row {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem 1rem;
  padding-bottom: 0.5rem;

  .levels-title {
    font-size: 1.5rem;
  }

  .levels-spacer {
    flex: 1;
  }

  .levels {
    display: flex;
    gap: 1rem;
  }

  .level {
    display: flex;
    align-items: center;
    gap: .375rem;
  }

  .dot {
    width: 15px;
    height: 15px;
    border-radius: 10px;
  }
}
