@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";

.punataust {
  background-color: red;
}

.correction-container {
  display: flex;
  gap: 20px;
  padding-left: 10%;
  margin-bottom: 400px;
}

.tab-container {
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
}

.border-bottom {
  border-bottom: solid 1px;
}

.level-list {
  list-style: none;
}

.pointer-hover:hover {
  cursor: pointer;
}

.other-percentage-values :nth-child(1) :nth-child(1) {
  background-color: #90e0ef;
}

.other-percentage-values :nth-child(2) :nth-child(1) {
  background-color: #ffb3c1;
}


.level-list li:nth-child(1):before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: blue; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
}

.level-list li:nth-child(2):before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: yellow; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
}

.level-list li:nth-child(3):before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: green; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
}

.correction-text-input {
  width: 30vw;
  height: 200px;
  padding: 10px;
  border: solid 1px black;
  resize: none;
  overflow-y: auto;
}

.wrapper {
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
}

#highlights, #textarea {
  width: 30vw;
  height: 200px;
  border: solid 1px black;
  resize: none;
  overflow-y: auto;
}

#textarea {
  position: relative;
  top: -200px;
}

#textarea {
  color: #444;
  background-color: transparent;
  z-index: 100;
}

input:focus,
textarea:active,
textarea:focus,
textarea:hover {
  outline: 0 !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
}

#highlights {
  word-wrap: break-word;
  color: transparent;
  overflow-y: auto;
}

.borderbox {
  width: 104%;
  height: 104%;
  position: absolute;
  top: -2%;
  left: -2%;
  margin: 0;
  border-radius: 2px;
  border: 1px solid rgb(112, 112, 110);
  padding: 0;
}

.margitud {
  background-color: lightpink;
}


.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined:hover {
  cursor: pointer;
}

.material-symbols-outlined:active {
  transform: scale(0.95);
}
