.item10 {
  grid-column: 1/3;
  grid-row: 2;
  margin-left: 100px;
}

h2{
  text-align: left;
}
p{
  font-size: 15px;
}
.numberbtn{
  margin-top: 10px; 
  margin-left: 5px;
  color: white; 
  text-align: center;
  background-color: #2196F3;
  border: 1px #2196F3;
  border-radius: 8px;
  width: 70px;
  height: 35px;
  text-decoration: none;
  font-size: 18px;
  padding-right: 10px;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: url("../img/arrow3.png") no-repeat center center;
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  width: 1em;
  opacity: 1; 
}
.optionbtn{
  margin-top: 10px; 
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px #2196F3;
  border-radius: 8px;
  color: white; 
  text-align: center;
  background-color: #2196F3;
  
  width: 90px;
  height: 35px;
  font-size: 18px;
  text-decoration: none;
}
#kasutuskontekst option:hover{
  background: #666;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
}
#number:focus{
  outline: none;
}
#kasutuskontekst:focus { 
  outline: none;
}
.valik{
  display: flex;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 1px solid #2196F3;
  border-radius: 8px;
  width: 250px;
  height: 40px;
  font-size: 16px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  margin-top: 20px;
}
.button2:hover {
  background-color: #2196F3;
  color: white;
}
.item10 {
grid-column: 2;
}
.item11{
  grid-column: 2;
  grid-row: 2;
  padding-top: 23vh;
}
.tableCol{
position:absolute;
left:20%;
right:20%;
padding-bottom: 5%;
text-align: center;
}
.item9{
margin-top: 20px;
position: absolute;
}