.textInputContainer {
  display: block;
  margin-bottom: 10px;
}

.textInput {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: solid 1px black;
  resize: none;
  overflow-y: auto;
}

.textInputDiv {
  width: 100%;
  height: 200px;
  overflow-y: auto;
  border: solid 1px black;
  padding: 10px;
  margin-bottom: 10px;
  cursor: default;
}

.analyseBtn {
  margin-left: 50px;
}

.lemmaTable {
  width: 500px;
  margin-top: 20px;
  border-collapse: collapse;
}

.lemmaTable th, td {
  padding: 5px 15px;
}

.lemmaTable td:nth-of-type(3) {
  text-align: center;
}

.lemmaTable td:nth-of-type(4) {
  text-align: center;
}

.marked {
  background-color: #FFFF00;
}

.word {
  cursor: pointer;
  white-space: nowrap;
}

.wordInfo {
  line-height: 1em;
}

.containerItem {
  margin-bottom: 50px;
}
