{
	auto_https off
	admin off
}

:9999 {

  reverse_proxy /* ui:5000

  reverse_proxy /api/* api:9090

  redir /clusterfinder /clusterfinder/
  reverse_proxy /clusterfinder/* clusterfinder:9092

  timeouts {
  	read_body 1800s
  	read_header 1800s
  	write 1800s
  	idle 1800s
  }

  keepalive_interval 1800s

  encode zstd gzip

  handle_errors {
    respond "{http.error.status_code} {http.error.status_text}"
  }

}
