.add-container {
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 50px;
  padding-left: 50px;
  width: 100%;
  max-width: 100%;
}

.form-control {
  width: 100%;
  margin-top: 20px !important;
  min-width: 240px;
  max-width: 270px;
}

.terms-of-service-modal {
  max-width: 30em !important;
}

.adding-text-upload-component {
  display: grid;
  justify-content: end;
  padding: 0;
  margin-top: 10em;

  & svg {
    margin: 0;
  }
}
