.adding-container-inner {
  padding: 0 50px 50px 50px !important;

  @media (min-width: 900px) {
    .first-column {
      padding-top: 4.5em !important;
    }
  }

  h5 {
    padding-bottom: 1rem;
  }

  h5.title {
    text-align: center;
    font-size: 25px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-weight: bold;
  }

  .MuiFormControl-root {
    margin-bottom: 1rem;
    width: 100%;
  }

  .MuiAlert-root {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  @media (min-width: 900px) {
    .terms-of-service {
      width: 50%;
    }
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.adding-text-upload-component {
  display: grid;
  justify-content: end;
  padding: 0;
  margin-top: 10em;

  & svg {
    margin: 0;
  }
}
