[id] {
  scroll-margin-top: 80px;
}

.links-container-inner {
  display: flex;
  background-color: white;
  border-radius: 15px;
  height: auto;
  padding: 0 !important;
}

.links-container-sticky {
  position: sticky;
  height: 100%;
  width: 25%;
  margin-top: 20px;
  top: 50px;
}

.links-tree-view-right-border {
  width: 100%;
  height: auto;
  margin-left: 20px;
  border-right: solid 1px #FFD0FD;
  margin-top: 100px;
}

.link-expand-icon {
  padding: 6px;
  font-size: 2rem !important;
}

.treeitem-label {
  font-weight: 600;
  font-size: 16px;
  color: #1B1B1B;
  text-decoration: none;
  margin: 0.25rem !important;
}

.treeitem-label:hover,
.treeitem-label:active {
  color: #9C27B0;
  text-decoration: none;
}

.link-container-right {
  padding: 0 50px 50px;
  width: 75%;
  height: auto;
  margin-bottom: 50px;
}
