.modal-head {
  font-size: 1.5em;
}

.resultTable {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.tableRow {
  background-color: white;
}

.tableRow:nth-child(even) {
  background-color: #EBECF0;
}

.checkboxRow {
  width: 4em;
}

.clickableRow {
  cursor: pointer;
}

.closeButton {
  position: absolute !important;
  top: 0.5em;
  right: 0.5em;
}

.selectAllButton {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.metainfoSubtitle {
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 0.75em;
}

.saveTextsButton {
  margin-left: 1em !important;
}

.accordionBorder {
  border-radius: 0 0 4px 4px !important;
}

.openedResultsAccordion {
  margin-bottom: 1em !important;
}
