.queryContainer {
  display: flex;
}

.queryContainer > div {
  flex: 1;
}

.corpustitle {
  position: relative;
  border-bottom: 1px dotted black;
}

.queryAccordion {
  margin-top: 1em !important;
  border-radius: 4px 4px 0 0 !important;
}

.buttonBox {
  display: flex;
}

.buttonRight {
  margin-left: auto !important;
}

.buttonSecondLeft {
  margin-left: 1em !important;
}

.query-textinput {
  width: 100%;
  height: 250px;
  padding: 10px;
  border: solid 1px black;
  resize: none;
  overflow-y: auto;
}

.selected-text-chip {
  margin-left: 0.5em !important;
}
