<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div th:fragment="caseOptions(wordType)" th:assert="${!#strings.isEmpty(wordType)}">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:th:id="${wordType}caseTypeNom" th:name="${wordType}'-casetype[]'" value="nom" />
      <label class="form-check-label" th:th:for="${wordType}caseTypeNom">Nimetav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeGen" th:name="${wordType}'-casetype[]'" value="gen" />
      <label class="form-check-label" th:for="${wordType}caseTypeGen">Omastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypePart" th:name="${wordType}'-casetype[]'" value="part" />
      <label class="form-check-label" th:for="${wordType}caseTypePart">Osastav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeAdit" th:name="${wordType}'-casetype[]'" value="adit" />
      <label class="form-check-label" th:for="${wordType}caseTYpeAdit">Lühike sisseütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeIll" th:name="${wordType}'-casetype[]'" value="ill" />
      <label class="form-check-label" th:for="${wordType}caseTypeIll">Sisseütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeIn" th:name="${wordType}'-casetype[]'" value="in" />
      <label class="form-check-label" th:for="${wordType}caseTypeIn">Seesütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeEl" th:name="${wordType}'-casetype[]'" value="el" />
      <label class="form-check-label" th:for="${wordType}caseTypeEl">Seestütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeAll" th:name="${wordType}'-casetype[]'" value="all" />
      <label class="form-check-label" th:for="${wordType}caseTypeAll">Alaleütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeAd" th:name="${wordType}'-casetype[]'" value="ad" />
      <label class="form-check-label" th:for="${wordType}caseTypeAd">Alalütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeAbl" th:name="${wordType}'-caseType[]'" value="abl" />
      <label class="form-check-label" th:for="${wordType}caseTypeAbl">Alaltütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeTr" th:name="${wordType}'-casetype[]'" value="tr" />
      <label class="form-check-label" th:for="${wordType}caseTypeTr">Saav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeTerm" th:name="${wordType}'-casetype[]'" value="term" />
      <label class="form-check-label" th:for="${wordType}caseTypeTerm">Rajav</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeEss" th:name="${wordType}'-casetype[]'" value="ess" />
      <label class="form-check-label" th:for="${wordType}caseTypeEss">Olev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeAbes" th:name="${wordType}'-casetype[]'" value="abes" />
      <label class="form-check-label" th:for="${wordType}caseTypeAbes">Ilmaütlev</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" th:id="${wordType}caseTypeKom" th:name="${wordType}'-casetype[]'" value="kom" />
      <label class="form-check-label" th:for="${wordType}caseTypeKom">Kaasaütlev</label>
    </div>
  </div>
</body>
</html>
